<div class="spinner-overlay" *ngIf="showSpinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
  <div class="header-label-container">
    <div>
      <span class="title">
        Add Expense</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title> </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col" style="width: 50%;">
          <ng-multiselect-dropdown [placeholder]="'Vehicle'" [settings]="medSettings" [data]="vehicleData"
            formControlName="vehicle_no">
          </ng-multiselect-dropdown>
        </div>
        <div class="col" style="width: 50%;">
          <ng-multiselect-dropdown [placeholder]="'Driver'" [settings]="driverSettings" [data]="driverData"
            formControlName="driver_name">
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Expense For</mat-label>
            <mat-select formControlName="expense_for" >
              <mat-option value="Petrol">Petrol
              </mat-option>
              <mat-option value="Diesel">Diesel
              </mat-option>
              <mat-option value="Spare part">Spare part
              </mat-option>
              <mat-option value="Insurance Renewal">Insurance Renewal
              </mat-option>
              <mat-option value="Pollution Certificate">Pollution Certificate
              </mat-option>
              <mat-option value="Others">Others
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Last Reading</mat-label>
            <input matInput formControlName="last_reading">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Rate</mat-label>
            <input matInput formControlName="rate">
            <mat-error *ngIf="patientForm.get('rate')?.invalid && patientForm.get('rate')?.touched">
              Rate is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount">
            <mat-error *ngIf="patientForm.get('amount')?.invalid && patientForm.get('amount')?.touched">
              Amount is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="date" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Payment Mode</mat-label>
            <mat-select formControlName="payment_mode">
              <mat-option value="Cash">Cash</mat-option>
              <mat-option value="Petrol">Petrol</mat-option>
              <mat-option value="Cheque">Cheque</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions class="action-btns">
      <button mat-raised-button class="cancel-btn" type="button" (click)="navigateBack()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
