<div class="spinner-overlay" *ngIf="showSpinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<form [formGroup]="medicalForm" (ngSubmit)="onSubmit()">
  <div class="header-label-container">
    <mat-icon class="action-mat-icon" aria-label="back" (click)="navigateBack()">keyboard_backspace</mat-icon>
    <span class="title">
      Medical Team</span>
  </div>

  <mat-divider></mat-divider>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        {{medicalData ? 'Edit' : 'Add'}} Medical Team
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Chassis No</mat-label>
            <div class="uname-input">
              <input matInput formControlName="chassis_no">
            </div>
            <mat-error *ngIf="medicalForm.get('chassis_no')?.invalid && medicalForm.get('chassis_no')?.touched">
              Chassis No is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Registration No</mat-label>
            <input matInput formControlName="registeration_no">
            <mat-error *ngIf="medicalForm.get('registeration_no')?.invalid && medicalForm.get('registeration_no')?.touched">
              Registration No is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Engine No</mat-label>
            <input matInput formControlName="engine_no">
            <mat-error *ngIf="medicalForm.get('engine_no')?.invalid && medicalForm.get('engine_no')?.touched">
              Engine No is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Manufacturing Date</mat-label>
            <!-- <div class="uname-input"> -->
              <!-- <input matInput formControlName="manufacturing_date"> -->
              <input matInput [matDatepicker]="manufacturing_date" formControlName="manufacturing_date">
              <mat-datepicker-toggle matIconSuffix [for]="manufacturing_date"></mat-datepicker-toggle>
              <mat-datepicker #manufacturing_date></mat-datepicker>
            <!-- </div> -->
            <mat-error *ngIf="medicalForm.get('manufacturing_date')?.invalid && medicalForm.get('manufacturing_date')?.touched">
              Manufacturing Date is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Sitting Capacity</mat-label>
            <input matInput formControlName="sitting_capacity">
            <mat-error *ngIf="medicalForm.get('sitting_capacity')?.invalid && medicalForm.get('sitting_capacity')?.touched">
              Sitting Capacity is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Model Name</mat-label>
            <div class="uname-input">
              <input matInput formControlName="model_name">
              <span *ngIf="isChecking" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </div>
            <mat-error *ngIf="medicalForm.get('model_name')?.invalid && medicalForm.get('model_name')?.touched">
              Model Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Vehicle Make</mat-label>
            <input matInput formControlName="vehicle_make">
            <mat-error *ngIf="medicalForm.get('vehicle_make')?.invalid && medicalForm.get('vehicle_make')?.touched">
              Vehicle Make is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Purchase Date</mat-label>
            <!-- <div class="uname-input"> -->
              <!-- <input matInput formControlName="purchase_date"> -->
              <input matInput [matDatepicker]="purchase_date" formControlName="purchase_date">
              <mat-datepicker-toggle matIconSuffix [for]="purchase_date"></mat-datepicker-toggle>
              <mat-datepicker #purchase_date></mat-datepicker>
            <!-- </div> -->
            <mat-error *ngIf="medicalForm.get('purchase_date')?.invalid && medicalForm.get('purchase_date')?.touched">
              Purchase Date is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Registration Date</mat-label>
            <!-- <input matInput formControlName="registeration_date"> -->
            <input matInput [matDatepicker]="registeration_date" formControlName="registeration_date">
              <mat-datepicker-toggle matIconSuffix [for]="registeration_date"></mat-datepicker-toggle>
              <mat-datepicker #registeration_date></mat-datepicker>
            <mat-error *ngIf="medicalForm.get('registeration_date')?.invalid && medicalForm.get('registeration_date')?.touched">
              Registration Date is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Fuel Type</mat-label>
            <div class="uname-input">
              <input matInput formControlName="fuel_type">
              <span *ngIf="isChecking" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </div>
            <mat-error *ngIf="medicalForm.get('fuel_type')?.invalid && medicalForm.get('fuel_type')?.touched">
              Fuel Type is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Registeration Validity</mat-label>
            <input matInput formControlName="registeration_validity">
            <mat-error *ngIf="medicalForm.get('registeration_validity')?.invalid && medicalForm.get('registeration_validity')?.touched">
              Registeration Validity is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Present Km</mat-label>
            <div class="uname-input">
              <input matInput formControlName="present_km">
              <span *ngIf="isChecking" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </div>
            <mat-error *ngIf="medicalForm.get('present_km')?.invalid && medicalForm.get('present_km')?.touched">
              Present Km is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions class="action-btns">
      <button mat-raised-button class="cancel-btn" type="button" (click)="handleCancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
