<main style="padding: 16px;">
  <div class="title-container" style="display: flex;
  justify-content: space-between;">
    <h1>Add In-Out</h1>
    <button class="close-btn" mat-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="full-width" style="margin-top: -35px;">
        <mat-label>Current Reading (KM)</mat-label>
        <div class="uname-input">
          <input matInput formControlName="km">
        </div>
        <mat-error *ngIf="resetForm.get('km')?.invalid && resetForm.get('km')?.touched">
          Reading is invalid
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <ng-multiselect-dropdown [placeholder]="'Vehicle'" [settings]="medSettings" [data]="vehicleData"
        formControlName="vehicle" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </div>
    <div>
      <ng-multiselect-dropdown [placeholder]="'Driver'" [settings]="driverSettings" [data]="driverData"
        formControlName="driver" (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </div>
    <div>
      <!-- <mat-form-field class="full-width"> -->
        <!-- <mat-label>Request</mat-label> -->
        <ng-multiselect-dropdown [placeholder]="'Request'" [settings]="reqSettings" [data]="requestData"
        formControlName="request"  (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
      <!-- </mat-form-field> -->
      </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="date" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>
      </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Time</mat-label>
        <div class="uname-input">
          <input matInput formControlName="time">
        </div>
        <!-- <ngx-mat-timepicker  [stepHour]="2" [stepMinute]="5" [stepSecond]="10"></ngx-mat-timepicker> -->
     </mat-form-field>
    </div>

    <!-- </mat-form-field> -->
    <div>
      <div *ngIf="vehicleDetail">
        <p>Recent Data</p>
        <div>
          Type : {{vehicleDetail?.type}}
        </div>
        <div>
          Date : {{vehicleDetail?.date}}
        </div>
        <div>
          Reading : {{vehicleDetail?.km}} km
        </div>
      </div>
    </div>
    <div class="action">
      <button mat-raised-button color="primary" type="submit" [disabled]="!resetForm.valid">Mark {{vehicleDetail ? (vehicleDetail.type === 'Out'? 'In' : 'Out') : ''}}</button>
    </div>
  </form>
</main>
