.title-container {
  display: flex;
  justify-content: space-between;

  .close-btn {
    height: 24px;
    width: 24px;

    mat-icon {
      font-size: 21px;
    }
  }
}

form {
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.action {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 0px;
  right: -35px;

}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  max-width: 100% !important;
}
