<div class="spinner-overlay" *ngIf="showSpinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<form [formGroup]="medicalForm" (ngSubmit)="onSubmit()">
  <div class="header-label-container">
    <mat-icon class="action-mat-icon" aria-label="back" (click)="navigateBack()">keyboard_backspace</mat-icon>
    <span class="title">
      Spare Parts</span>
  </div>

  <mat-divider></mat-divider>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        {{medicalData ? 'Edit' : 'Add'}} Spare Parts
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row" style="align-items: center;">
        <div class="col">
          <!-- <mat-form-field class="full-width">
            <mat-label>Select Vehicle No.</mat-label>
            <div class="uname-input"> -->
              <!-- <input matInput formControlName="vehicle"> -->
              <!-- <mat-select formControlName="vehicle">
                <mat-option *ngFor="let vehicle of vehicleData" [value]="vehicle.id"> {{vehicle.registeration_no}}
                </mat-option>
              </mat-select> -->
              <ng-multiselect-dropdown [placeholder]="'Select Vehicle No.'" [settings]="medSettings" [data]="vehicleData"
            formControlName="vehicle">
          </ng-multiselect-dropdown>
            <!-- </div>
            <mat-error *ngIf="medicalForm.get('vehicle')?.invalid && medicalForm.get('vehicle')?.touched">
              Vehicle is invalid
            </mat-error> -->
          <!-- </mat-form-field> -->
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Amount</mat-label>
            <div class="uname-input">
              <input matInput formControlName="amount" type="number">
            </div>
            <mat-error *ngIf="medicalForm.get('amount')?.invalid && medicalForm.get('amount')?.touched">
              Amount is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Date</mat-label>
            <!-- <input matInput formControlName="date"> -->
            <input matInput [matDatepicker]="date" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
            <mat-error *ngIf="medicalForm.get('date')?.invalid && medicalForm.get('date')?.touched">
              Date is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Part Name</mat-label>
            <input matInput formControlName="part">
            <mat-error *ngIf="medicalForm.get('part')?.invalid && medicalForm.get('part')?.touched">
              Part Name is invalid
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Part Description</mat-label>
            <div class="uname-input">
              <input matInput formControlName="desc">
            </div>
            <mat-error *ngIf="medicalForm.get('desc')?.invalid && medicalForm.get('desc')?.touched">
              Part Description is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions class="action-btns">
      <button mat-raised-button class="cancel-btn" type="button" (click)="handleCancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
