<div class="grid-container">
  <div class="spinner-overlay" *ngIf="showSpinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <span class="mat-h1">Dashboard CI/CD 1</span>
  <mat-divider></mat-divider>
  <mat-grid-list [cols]="columns ? 4 : 2" rowHeight="140px" *ngIf="cards && cards.length && dashboardData">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card hand-cursor" (click)="navigate(card.url)">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="card-content-text d-flex">
            <div class="">
              <span>{{dashboardData[card.key]}}
                <span style="font-size: 20px;">
                  {{card.key === 'count_fuel' ? 'litre': ''}}</span>
              </span>
              <mat-icon>arrow_upward</mat-icon>
            </div>
            <div class="f-row">
              <div *ngFor="let item of card.subItems" [ngStyle]="{color: item.color}">
                {{item.title}}
              </div>
              <!-- <div>
                close - 1
              </div> -->
            </div>
          </div>
          <div>
            <i [class]="card.icon"></i>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list [cols]="columns ? 2 : 1" *ngIf="cards && cards.length">
    <mat-grid-tile class="set2-grid" colspan="1" rowspan="1">
      <mat-card class="dashboard-card" >
        <mat-card-header>
          <mat-card-title>
            <div class="driver-title">
              <div>
                Request
              </div>
              <div class="">
              </div>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="table-container">
            <div class="table-row table-header">
              <div class="table-cell">Name</div>
              <div class="table-cell">Address</div>
              <div class="table-cell">Pick Up</div>
              <div class="table-cell">Destination</div>
              <div class="table-cell">Date</div>
            </div>
            <div class="table-row" *ngFor="let request of requests">
              <div class="table-cell">{{request.name}}</div>
              <div class="table-cell">{{request.address}}</div>
              <div class="table-cell">{{request.pickup}}</div>
              <div class="table-cell">{{request.destination}}</div>
              <div class="table-cell">{{request.date}}</div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="set2-grid" colspan="1" rowspan="1">

      <mat-card class="dashboard-card" >
        <mat-card-header>
          <mat-card-title>
            <div class="driver-title">
              <div>
                Drivers Available
              </div>
              <div class="circle">
              </div>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="table-container">
            <div class="table-row table-header">
              <div class="table-cell">Sewadar Code</div>
              <div class="table-cell">Name</div>
              <div class="table-cell">Phone No.</div>
            </div>
            <div class="table-row" *ngFor="let driver of driverData">
              <div class="table-cell">{{driver.sewadar_code}}</div>
              <div class="table-cell">{{driver.first_name + " " + driver.last_name}}</div>
              <div class="table-cell">{{driver.phone}}</div>
              <!-- <div class="table-cell">{{request.destination}}</div>
              <div class="table-cell">{{request.date}}</div> -->
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
